/*******************************************************************************
*
* pattern.css
*
*
*******************************************************************************/
/*********************
LAYOUT & GRID STYLES
*********************/
.wrap {
  width: 96%;
  margin: 0 auto; }

.grid-block {
  background-color: #CCCCCC;
  height: 500px;
  padding-right: 25%; }

.grid-block-full-bg {
  position: relative;
  background-color: #CCCCCC;
  height: 500px; }

/*********************
        NAVBAR
*********************/
.nav-body {
  padding-top: 85px; }

.nav-header {
  border-bottom: 1px solid #CCCCCC;
  height: 85px;
  position: fixed;
  top: 0;
  transition: top 0.2s ease-in-out;
  width: 100%;
  z-index: 1; }

.nav-up {
  top: -85px; }

.nav-link {
  padding-right: 1em !important;
  margin-right: 1em !important; }

.nav-button {
  padding-right: 0 !important; }

.navbar-default {
  background: none;
  border: none;
  box-shadow: none; }
  .navbar-default .navbar-brand {
    color: #000000;
    font-weight: bold;
    text-transform: uppercase; }
    .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
      color: #7F7F7F; }
  .navbar-default .navbar-nav > li > a {
    color: #000000;
    font-weight: normal;
    cursor: pointer; }
    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
      color: #7F7F7F;
      text-decoration: none; }
  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #555; }
  .navbar-default .navbar-nav .evo-button-smaller {
    margin-top: -10px; }
  .navbar-default .navbar-toggle {
    background: none;
    border: none; }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
      background: none;
      border: none; }

/*********************
IMAGE STYLES
*********************/
.full-screen-img {
  position: relative;
  background: url(../../img/monolake.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

/***************************
VIDEO AND TEXT ABOVE STYLES
***************************/
.video-container {
  position: relative; }

.video-container video {
  position: relative;
  z-index: 0; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; }

/*********************
COLOR STYLES
*********************/
.full-screen {
  min-height: 100vh; }

.xy-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%); }

/*********************
     MAP STYLE
*********************/
.full-width, .one-column {
  width: 100%;
  height: 500px; }

/*******************************
    ONE COLUMN SLIDESHOW STYLE
 *******************************/
#slider {
  position: relative;
  overflow: hidden;
  margin: 20px auto 0 auto;
  border-radius: 4px; }

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 200px;
  list-style: none; }

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 500px;
  height: 300px;
  background: #ccc;
  text-align: center;
  line-height: 300px; }

#slider-full-width {
  position: relative;
  overflow: hidden;
  margin: 20px auto 0 auto;
  border-radius: 4px; }

#slider-full-width ul {
  position: relative;
  margin: 0;
  padding: 0;
  right: 52%;
  height: 200px;
  list-style: none; }

#slider-full-width ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 300px;
  background: #ccc;
  text-align: center;
  line-height: 300px; }

a.control_prev_full, a.control_next_full {
  position: absolute;
  top: 45%;
  z-index: 999;
  /*display: block;*/
  padding: 4% 3%;
  width: auto;
  height: auto;
  /*  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;*/
  cursor: pointer; }

a.control_prev_full {
  border-radius: 0 2px 2px 0;
  top: 18%; }

a.control_next_full {
  right: 0;
  border-radius: 2px 0 0 2px;
  top: 30%; }

#slider-full-screen {
  position: relative;
  overflow: hidden;
  margin: 20px auto 0 auto;
  border-radius: 4px; }

#slider-full-screen ul {
  position: relative;
  margin: 0;
  padding: 0;
  right: 52%;
  list-style: none; }

#slider-full-screen ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background: #ccc;
  text-align: center;
  line-height: 300px; }

a.control_prev_full_screen, a.control_next_full_screen {
  position: absolute;
  top: 45%;
  z-index: 999;
  /*display: block;*/
  padding: 4% 3%;
  width: auto;
  height: auto;
  /*  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;*/
  cursor: pointer; }

a.control_prev_full_screen {
  border-radius: 0 2px 2px 0;
  top: 35%; }

a.control_next_full_screen {
  right: 0;
  border-radius: 2px 0 0 2px;
  top: 39%; }

a.control_prev, a.control_next {
  position: absolute;
  top: 45%;
  z-index: 999;
  /*display: block;*/
  padding: 4% 3%;
  width: auto;
  height: auto;
  /*  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;*/
  cursor: pointer; }

/*a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}*/
a.control_prev {
  border-radius: 0 2px 2px 0;
  top: 42%; }

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px; }

.slider_option {
  position: relative;
  margin: 10px auto;
  width: 160px;
  font-size: 18px; }

/*******************************
    FULL WIDTH SLIDESHOW STYLE
 *******************************/
#holder {
  height: 300px;
  overflow: hidden;
  width: 300px; }

.mc-hide-scrolls {
  overflow: hidden; }

body .mc-cycle {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1; }

div.mc-image {
  /*NOTE: Mozilla flickers when fading and using 'all', so we have to be specific with what property we want to transition:
    If you are using fading transitions, use 'opacity: */
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  /*If you are using horizontal slide transitions, use the following CSS:
  -webkit-transition: left 1s ease-in-out; 
  -moz-transition: left 1s ease-in-out; 
  -o-transition: left 1s ease-in-out; 
  transition: left 1s ease-in-out;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
  overflow: hidden;
  width: 100%; }

.mc-old-browser .mc-image {
  overflow: hidden; }

/* Basic CSS for FillElement */
#holder {
  /*height:300px;*/
  overflow: hidden;
  width: 100%; }

#full-screen-slideshow {
  position: relative !important; }

#full-width-slideshow {
  position: relative !important; }

#one-column-slideshow {
  position: relative !important; }

/* Other random styles */
#arrow_left_full,
#arrow_right_full {
  text-decoration: none; }

#arrow_left_one,
#arrow_right_one {
  text-decoration: none; }

#arrow_left,
#arrow_right {
  text-decoration: none; }

a {
  color: #fff; }

a:hover {
  text-decoration: none; }

a:active {
  color: #999; }

hr {
  clear: both; }

p {
  margin-bottom: 20px; }

.largeTxt {
  font-size: 30px; }

.masonry {
  /* Masonry container */
  column-count: 4;
  column-gap: 1em; }

.item {
  /* Masonry bricks or child elements */
  background-color: #eee;
  display: inline-block;
  margin: 0 0 1em;
  width: 100%; }

.masonry {
  margin: 1.5em 0;
  padding: 0;
  -moz-column-gap: 1.5em;
  -webkit-column-gap: 1.5em;
  column-gap: 1.5em;
  font-size: .85em; }

.item {
  display: inline-block;
  background: #fff;
  padding: 1em;
  margin: 0 0 1.5em;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-shadow: 2px 2px 4px 0 #ccc; }

@media only screen and (min-width: 300px) {
  .masonry {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2; } }

@media only screen and (min-width: 700px) {
  .masonry {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3; } }

@media only screen and (min-width: 900px) {
  .masonry {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4; } }

@media only screen and (min-width: 1100px) {
  .masonry {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4; } }

@media only screen and (min-width: 1300px) {
  .masonry {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4; } }

.btn-social {
  display: inline-block;
  width: 60px;
  height: 60px;
  border: 1px solid #000000;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  text-align: center;
  font-size: 30px;
  font-weight: 900;
  line-height: 60px; }

/*------------------------------------------------------------------*/
/* Portfolio (Isotop Grid, box, Portfolio Single Page, etc...) */
/*------------------------------------------------------------------*/
.portfolio-grid .portfolio-item {
  position: relative;
  float: left;
  width: 33.33333333333333%;
  height: auto;
  margin: 0px;
  padding: 15px;
  display: block; }

@media (max-width: 1170px) {
  .portfolio-grid .portfolio-item {
    width: 33.33333333333333%; } }

@media (max-width: 980px) {
  .portfolio-grid .portfolio-item {
    width: 50%; } }

@media (max-width: 768px) {
  .portfolio-grid .portfolio-item {
    width: 100%; } }

.portfolio-box {
  position: relative;
  overflow: hidden; }

.portfolio-box a.porfolio-popup {
  display: block; }

.portfolio-box .portfolio-image-wrap {
  display: block;
  transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s; }

.portfolio-box .portfolio-image-wrap img {
  width: 100%; }

.portfolio-box:hover .portfolio-image-wrap {
  transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
  -o-transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
  -moz-transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
  -webkit-transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
  width: 100%; }

.portfolio-box .portfolio-caption-mask {
  background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
  height: 100%;
  left: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  visibility: hidden;
  width: 100%;
  transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  z-index: 9; }

.portfolio-box:hover .portfolio-caption-mask {
  opacity: 1;
  visibility: visible; }

.portfolio-box .portfolio-caption-mask .portfolio-caption-text {
  bottom: -60px;
  left: 0;
  opacity: 0;
  padding-left: 30px;
  padding-right: 30px;
  position: absolute;
  text-align: left;
  transition: all 0.5s ease-in-out 0s; }

.portfolio-box:hover .portfolio-caption-mask .portfolio-caption-text {
  bottom: 30px;
  opacity: 1; }

.portfolio-box .portfolio-caption-mask h1, .portfolio-box .portfolio-caption-mask h2, .portfolio-box .portfolio-caption-mask h3, .portfolio-box .portfolio-caption-mask h4, .portfolio-box .portfolio-caption-mask h5, .portfolio-box .portfolio-caption-mask h6 {
  color: #fff;
  margin-bottom: 5px; }

.portfolio-box .portfolio-caption-mask p {
  margin-bottom: 0px;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px; }

/* Portfolio Filter */
.portfolio-filter {
  margin: 0 0 15px;
  padding: 0;
  text-align: center; }

.portfolio-filter li {
  display: inline-block;
  list-style: none; }

.portfolio-filter li a {
  display: block;
  color: black;
  margin-left: 11px;
  margin-right: 11px;
  text-transform: uppercase; }

.portfolio-filter li a.active {
  font-weight: bold; }

.portfolio-filter li a:hover {
  color: #7f7f7f; }

/* Portfolio Single Page */
#portfolio-single .portfolio-image-wrap {
  margin-bottom: 20px; }

#portfolio-single .portfolio-image-wrap img {
  width: 100%; }

.portfolio-item-content {
  padding-left: 20px;
  padding-right: 20px;
  position: relative; }

.portfolio-item-content-spc {
  margin-top: 45px; }

.portfolio-item-content-detail li {
  line-height: 2; }

/* Scale Image */
/* Overlay style */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9); }

/* Overlay closing cross */
.overlay .overlay-close {
  width: 80px;
  height: 80px;
  position: absolute;
  right: 20px;
  top: 20px;
  overflow: hidden;
  border: none;
  background: url(../icons-gray/book-gray/close-book-gray.svg) no-repeat center center;
  text-indent: 200%;
  color: transparent;
  outline: none;
  z-index: 100; }

/* Menu style */
.overlay nav {
  text-align: center;
  position: relative;
  top: 50%;
  height: 60%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  height: 100%;
  position: relative; }

.overlay ul li {
  display: block;
  height: 20%;
  height: calc(100% / 5);
  min-height: 54px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.overlay ul li a {
  font-size: 54px;
  font-weight: 300;
  display: block;
  color: #fff;
  -webkit-transition: color 0.2s;
  transition: color 0.2s; }

.overlay ul li a:hover,
.overlay ul li a:focus {
  color: #f0f0f0; }

/* Effects */
.overlay-scale {
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
  transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s; }

.overlay-scale.open {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
  transition: transform 0.4s, opacity 0.4s; }

@media screen and (max-height: 30.5em) {
  .overlay nav {
    height: 70%;
    font-size: 34px; }
  .overlay ul li {
    min-height: 34px; } }

/* 
 *  Core Owl Carousel CSS File
 *  v1.3.3
 */
/* clearfix */
.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

/* display none until init */
.owl-carousel {
  display: none;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y; }

.owl-carousel .owl-wrapper {
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px); }

.owl-carousel .owl-wrapper-outer {
  overflow: hidden;
  position: relative;
  width: 100%; }

.owl-carousel .owl-wrapper-outer.autoHeight {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out; }

.owl-carousel .owl-item {
  float: left; }

.owl-controls .owl-page,
.owl-controls .owl-buttons div {
  cursor: pointer; }

.owl-controls {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent; }

/* mouse grab icon */
.grabbing {
  cursor: url(grabbing.png) 8 8, move; }

/* fix */
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0); }

#container-slideshow .item {
  margin: 3px; }

#container-slideshow .item img {
  display: block;
  width: 100%;
  height: auto; }

/*
*   Owl Carousel Owl Demo Theme 
*   v1.3.3
*/
.owl-theme .owl-controls {
  margin-top: 10px;
  text-align: center; }

/* Styling Next and Prev buttons */
.owl-theme .owl-controls .owl-buttons div {
  color: #FFF;
  display: inline-block;
  zoom: 1;
  *display: inline;
  /*IE7 life-saver */
  margin: 5px;
  padding: 3px 10px;
  font-size: 12px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background: #869791;
  filter: Alpha(Opacity=50);
  /*IE7 fix*/
  opacity: 0.5; }

/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover {
  filter: Alpha(Opacity=100);
  /*IE7 fix*/
  opacity: 1;
  text-decoration: none; }

/* Styling Pagination*/
.owl-theme .owl-controls .owl-page {
  display: inline-block;
  zoom: 1;
  *display: inline;
  /*IE7 life-saver */ }

.owl-theme .owl-controls .owl-page span {
  display: block;
  width: 12px;
  height: 12px;
  margin: 5px 7px;
  filter: Alpha(Opacity=50);
  /*IE7 fix*/
  opacity: 0.5;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #869791; }

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
  filter: Alpha(Opacity=100);
  /*IE7 fix*/
  opacity: 1; }

/* If PaginationNumbers is true */
.owl-theme .owl-controls .owl-page span.owl-numbers {
  height: auto;
  width: auto;
  color: #FFF;
  padding: 2px 10px;
  font-size: 12px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px; }

/* preloading images */
.owl-item.loading {
  min-height: 150px;
  background: url(AjaxLoader.gif) no-repeat center center; }

.ct-series-a .ct-bar, .ct-series-a .ct-line, .ct-series-a .ct-point, .ct-series-a .ct-slice-donut {
  stroke: #00A651; }

.ct-series-a .ct-area, .ct-series-a .ct-slice-pie {
  fill: #00A651; }

.ct-series-b .ct-bar, .ct-series-b .ct-line, .ct-series-b .ct-point, .ct-series-b .ct-slice-donut {
  stroke: #2E3192; }

.ct-series-b .ct-area, .ct-series-b .ct-slice-pie {
  fill: #2E3192; }

.ct-series-c .ct-bar, .ct-series-c .ct-line, .ct-series-c .ct-point, .ct-series-c .ct-slice-donut {
  stroke: #00AEEF; }

.ct-series-c .ct-area, .ct-series-c .ct-slice-pie {
  fill: #00AEEF; }

.ct-series-d .ct-bar, .ct-series-d .ct-line, .ct-series-d .ct-point, .ct-series-d .ct-slice-donut {
  stroke: #EC008C; }

.ct-series-d .ct-area, .ct-series-d .ct-slice-pie {
  fill: #EC008C; }

.ct-series-e .ct-bar, .ct-series-e .ct-line, .ct-series-e .ct-point, .ct-series-e .ct-slice-donut {
  stroke: #35BDA8; }

.ct-series-e .ct-area, .ct-series-e .ct-slice-pie {
  fill: #35BDA8; }

.ct-series-f .ct-bar, .ct-series-f .ct-line, .ct-series-f .ct-point, .ct-series-f .ct-slice-donut {
  stroke: #E66C40; }

.ct-series-f .ct-area, .ct-series-f .ct-slice-pie {
  fill: #E66C40; }

.ct-series-g .ct-bar, .ct-series-g .ct-line, .ct-series-g .ct-point, .ct-series-g .ct-slice-donut {
  stroke: #CB3E4B; }

.ct-series-g .ct-area, .ct-series-g .ct-slice-pie {
  fill: #CB3E4B; }

.ct-series-h .ct-bar, .ct-series-h .ct-line, .ct-series-h .ct-point, .ct-series-h .ct-slice-donut {
  stroke: #6b0392; }

.ct-series-h .ct-area, .ct-series-h .ct-slice-pie {
  fill: #6b0392; }

.ct-series-i .ct-bar, .ct-series-i .ct-line, .ct-series-i .ct-point, .ct-series-i .ct-slice-donut {
  stroke: #f05b4f; }

.ct-series-i .ct-area, .ct-series-i .ct-slice-pie {
  fill: #f05b4f; }

.ct-series-j .ct-bar, .ct-series-j .ct-line, .ct-series-j .ct-point, .ct-series-j .ct-slice-donut {
  stroke: #dda458; }

.ct-series-j .ct-area, .ct-series-j .ct-slice-pie {
  fill: #dda458; }

.ct-series-k .ct-bar, .ct-series-k .ct-line, .ct-series-k .ct-point, .ct-series-k .ct-slice-donut {
  stroke: #eacf7d; }

.ct-series-k .ct-area, .ct-series-k .ct-slice-pie {
  fill: #eacf7d; }

.ct-series-l .ct-bar, .ct-series-l .ct-line, .ct-series-l .ct-point, .ct-series-l .ct-slice-donut {
  stroke: #86797d; }

.ct-series-l .ct-area, .ct-series-l .ct-slice-pie {
  fill: #86797d; }

.ct-series-m .ct-bar, .ct-series-m .ct-line, .ct-series-m .ct-point, .ct-series-m .ct-slice-donut {
  stroke: #b2c326; }

.ct-series-m .ct-area, .ct-series-m .ct-slice-pie {
  fill: #b2c326; }

.ct-series-n .ct-bar, .ct-series-n .ct-line, .ct-series-n .ct-point, .ct-series-n .ct-slice-donut {
  stroke: #6188e2; }

.ct-series-n .ct-area, .ct-series-n .ct-slice-pie {
  fill: #6188e2; }

.ct-series-o .ct-bar, .ct-series-o .ct-line, .ct-series-o .ct-point, .ct-series-o .ct-slice-donut {
  stroke: #a748ca; }

.ct-series-o .ct-area, .ct-series-o .ct-slice-pie {
  fill: #a748ca; }

.revolution-slider-container {
  width: 100%;
  position: relative;
  padding: 0; }

.revolution-slider {
  width: 100%;
  position: relative; }

.full-width-revolution-slider-container {
  width: 100%;
  position: relative;
  padding: 0; }

.full-width-revolution-slider {
  width: 100%;
  position: relative; }

.full-screen-revolution-slider-container {
  width: 100%;
  position: relative;
  padding: 0; }

.full-screen-revolution-slider {
  width: 100%;
  position: relative; }

.youtube-revolution-video-container-default {
  width: 100%;
  position: relative;
  padding: 0; }

.youtube-revolution-video-default {
  width: 100%;
  position: relative; }

.youtube-revolution-video-container {
  width: 100%;
  position: relative;
  padding: 0; }

.youtube-revolution-video {
  width: 100%;
  position: relative; }

.full-youtube-revolution-video-container {
  width: 100%;
  position: relative;
  padding: 0; }

.full-youtube-revolution-video {
  width: 100%;
  position: relative; }

.full-screen-revolution-video-container {
  width: 100%;
  position: relative;
  padding: 0; }

.full-screen-revolution-video {
  width: 100%;
  position: relative; }
