///* ================================================================================ */

///*                           ICONS SIZES EVOLUTION ELEMENTS v2.0.1                        */

///* ================================================================================ */



$text_font_size_increment:          .09;
$text_font_size:                    .3;


/* ================================================================================ */
/* ----------------------------------- ICONS -------------------------------------- */
/* ================================================================================ */


/* Icon Sizes */

.evo-icon-0         { width: $text_font_size+$text_font_size_increment*0rem; height: $text_font_size+$text_font_size_increment*0rem; } // Do we need to start with a zero?
.evo-icon-1         { width: $text_font_size+$text_font_size_increment*1rem; height: $text_font_size+$text_font_size_increment*1rem; }
.evo-icon-2         { width: $text_font_size+$text_font_size_increment*2rem; height: $text_font_size+$text_font_size_increment*2rem; }
.evo-icon-3         { width: $text_font_size+$text_font_size_increment*3rem; height: $text_font_size+$text_font_size_increment*3rem; }
.evo-icon-4         { width: $text_font_size+$text_font_size_increment*4rem; height: $text_font_size+$text_font_size_increment*4rem; }
.evo-icon-5         { width: $text_font_size+$text_font_size_increment*5rem; height: $text_font_size+$text_font_size_increment*5rem; }
.evo-icon-6         { width: $text_font_size+$text_font_size_increment*6rem; height: $text_font_size+$text_font_size_increment*6rem; }
.evo-icon-7         { width: $text_font_size+$text_font_size_increment*7rem; height: $text_font_size+$text_font_size_increment*7rem; }
.evo-icon-8         { width: $text_font_size+$text_font_size_increment*8rem; height: $text_font_size+$text_font_size_increment*8rem; }
.evo-icon-9         { width: $text_font_size+$text_font_size_increment*9rem; height: $text_font_size+$text_font_size_increment*9rem; }
.evo-icon-10        { width: $text_font_size+$text_font_size_increment*10rem; height: $text_font_size+$text_font_size_increment*10rem; }
.evo-icon-11        { width: $text_font_size+$text_font_size_increment*11rem; height: $text_font_size+$text_font_size_increment*11rem; }
.evo-icon-12        { width: $text_font_size+$text_font_size_increment*12rem; height: $text_font_size+$text_font_size_increment*12rem; }
.evo-icon-13        { width: $text_font_size+$text_font_size_increment*13rem; height: $text_font_size+$text_font_size_increment*13rem; }
.evo-icon-14        { width: $text_font_size+$text_font_size_increment*14rem; height: $text_font_size+$text_font_size_increment*14rem; }
.evo-icon-15        { width: $text_font_size+$text_font_size_increment*15rem; height: $text_font_size+$text_font_size_increment*15rem; }
.evo-icon-16        { width: $text_font_size+$text_font_size_increment*16rem; height: $text_font_size+$text_font_size_increment*16rem; }
.evo-icon-17        { width: $text_font_size+$text_font_size_increment*17rem; height: $text_font_size+$text_font_size_increment*17rem; }
.evo-icon-18        { width: $text_font_size+$text_font_size_increment*18rem; height: $text_font_size+$text_font_size_increment*18rem; }
.evo-icon-19        { width: $text_font_size+$text_font_size_increment*19rem; height: $text_font_size+$text_font_size_increment*19rem; }
.evo-icon-20        { width: $text_font_size+$text_font_size_increment*20rem; height: $text_font_size+$text_font_size_increment*20rem; }
.evo-icon-21        { width: $text_font_size+$text_font_size_increment*21rem; height: $text_font_size+$text_font_size_increment*21rem; }
.evo-icon-22        { width: $text_font_size+$text_font_size_increment*22rem; height: $text_font_size+$text_font_size_increment*22rem; }
.evo-icon-23        { width: $text_font_size+$text_font_size_increment*23rem; height: $text_font_size+$text_font_size_increment*23rem; }
.evo-icon-24        { width: $text_font_size+$text_font_size_increment*24rem; height: $text_font_size+$text_font_size_increment*24rem; }
.evo-icon-25        { width: $text_font_size+$text_font_size_increment*25rem; height: $text_font_size+$text_font_size_increment*25rem; }
.evo-icon-26        { width: $text_font_size+$text_font_size_increment*26rem; height: $text_font_size+$text_font_size_increment*26rem; }
.evo-icon-27        { width: $text_font_size+$text_font_size_increment*27rem; height: $text_font_size+$text_font_size_increment*27rem; }
.evo-icon-28        { width: $text_font_size+$text_font_size_increment*28rem; height: $text_font_size+$text_font_size_increment*28rem; }
.evo-icon-29        { width: $text_font_size+$text_font_size_increment*29rem; height: $text_font_size+$text_font_size_increment*29rem; }
.evo-icon-30        { width: $text_font_size+$text_font_size_increment*30rem; height: $text_font_size+$text_font_size_increment*30rem; }