///* ============================================================================== */
//
///*                         FORGIVE ERRORS EVOLUTION ELEMENTS v2.0.1               */
//
///* ============================================================================== */

// A selection of aliases that forgive common mistypes
// TO DO fix all underscore variations
// TO DO This could turn into a linting file of sorts, perhaps applying an XRAY color to the mistake


/* ================================================================================ */
/* ----------------------------------- ERRORS ------------------------------------- */
/* ================================================================================ */


.evo-error-base							{
	color: #ff0000 !important;
  font-color: #ff0000 !important;
  background-color: #ff0000 !important;
}


///* --------------------------- FORGIVE ERRORS FOR EVO-ELEMENTS.SCSS --------------------------- */


// Typed large instead of big


.evo-header-largest					   { @extend .evo-header-biggest;}
.evo-header-larger					   { @extend .evo-header-bigger;}
.evo-header-large					     { @extend .evo-header-big;}
.evo-header-inverse-largest		 { @extend .evo-header-inverse-biggest;}
.evo-header-inverse-larger		 { @extend .evo-header-inverse-bigger;}
.evo-header-inverse-large			 { @extend .evo-header-inverse-big;}


.evo-subheader-largest				 { @extend .evo-subheader-biggest;}
.evo-subheader-larger				   { @extend .evo-subheader-bigger;}
.evo-subheader-large				   { @extend .evo-subheader-big;}
.evo-subheader-inverse-largest { @extend .evo-subheader-inverse-biggest;}
.evo-subheader-inverse-larger	 { @extend .evo-subheader-inverse-bigger;}
.evo-subheader-inverse-large	 { @extend .evo-subheader-inverse-big;}


.evo-text-largest					     { @extend .evo-text-biggest;}
.evo-text-larger					     { @extend .evo-text-bigger;}
.evo-text-large						     { @extend .evo-text-big;}
.evo-text-inverse-largest			 { @extend .evo-text-inverse-biggest;}
.evo-text-inverse-larger			 { @extend .evo-text-inverse-bigger;}
.evo-text-inverse-large				 { @extend .evo-text-inverse-big;}


.evo-button-largest					   { @extend .evo-button-biggest;}
.evo-button-larger					   { @extend .evo-button-bigger;}
.evo-button-large					     { @extend .evo-button-big;}
.evo-button-inverse-largest		 { @extend .evo-button-inverse-biggest;}
.evo-button-inverse-larger		 { @extend .evo-button-inverse-bigger;}
.evo-button-inverse-large			 { @extend .evo-button-inverse-big;}

///* Buggy needs fixing. Could be the img tag /* 
//.evo-icon-largest					{.evo-icon-biggest;}
//.evo-icon-larger					{.evo-icon-bigger;}
//.evo-icon-large						{.evo-icon-big;}
//.evo-icon-inverse-largest			{.evo-icon-inverse-biggest;}
//.evo-icon-inverse-larger			{.evo-icon-inverse-bigger;}
//.evo-icon-inverse-large				{.evo-icon-inverse-big;}


//.evo-ico-biggest img 				{ .evo-icon-biggest img; }
//.evo-ico-bigger img 				{ .evo-icon-bigger img; }
//.evo-ico-big img 					{ .evo-icon-big img; }
//.evo-ico img 						{ .evo-icon img; }
//.evo-ico-small img 					{ .evo-icon-small img; }
//.evo-ico-smaller img 				{ .evo-icon-smaller img; }
// .evo-ico-smallest img 				{ .evo-icon-smallest img; }


.evo-line-largest					{ @extend .evo-line-heaviest; @extend .evo-error-base; }
.evo-line-larger					{ @extend .evo-line-heavier; @extend .evo-error-base; }
.evo-line-large						{ @extend .evo-line-heavy; @extend .evo-error-base; }
.evo-line-small      				{ @extend .evo-line-thin; @extend .evo-error-base; }
.evo-line-small   					{ @extend .evo-line-thinner; @extend .evo-error-base; }
.evo-line-small  					{ @extend .evo-line-thinnest; @extend .evo-error-base; }
.evo-line-inverse-largest			{ @extend .evo-line-inverse-heaviest; @extend .evo-error-base; }
.evo-line-inverse-larger			{ @extend .evo-line-inverse-heavier; @extend .evo-error-base; }
.evo-line-inverse-large				{ @extend .evo-line-inverse-heavy; @extend .evo-error-base; }
.evo-line-inverse-small      		{ @extend .evo-line-inverse-thin; @extend .evo-error-base; }
.evo-line-inverse-small   			{ @extend .evo-line-inverse-thinner; @extend .evo-error-base; }
.evo-line-inverse-small  			{ @extend .evo-line-inverse-thinnest; @extend .evo-error-base; }

.evo-space-largest					{ @extend .evo-space-biggest; @extend .evo-error-base; }
.evo-space-larger					{ @extend .evo-space-bigger; @extend .evo-error-base; }
.evo-space-large					{ @extend .evo-space-big; @extend .evo-error-base; }

// Aliases for misstyped colors

$evo_black: 						$black_evo;
$evo_white: 						$white_evo;
$evo_gray: 							$gray_evo;

// Aliases for not putting bg last

.evo-gray-bg-darkest				{ @extend .evo-gray-darkest-bg; @extend .evo-error-base; }
.evo-gray-bg-darker					{ @extend .evo-gray-darker-bg; @extend .evo-error-base; }
.evo-gray-bg-dark					  { @extend .evo-gray-dark-bg; @extend .evo-error-base; }
// .evo-gray-bg						    { .evo-gray-bg; .evo-error-base; }
.evo-gray-bg-light					{ @extend .evo-gray-light-bg; @extend .evo-error-base; }
.evo-gray-bg-lighter				{ @extend .evo-gray-lighter-bg; @extend .evo-error-base; }
.evo-gray-bg-lightest				{ @extend .evo-gray-lightest-bg; @extend .evo-error-base; }
